.form input,
textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea {
  resize: none;
}

hr {
  border: 1.5px solid white;
  border-radius: 3px;
  width: 10%;
}


div.small {
  height: 12px;
  margin: 0 0 15px;
}

.invalid-text {
  color: #a7101f;
}

button {
  margin-top: 15px;
  text-transform: uppercase;
  outline: 0;
  background: #D15953;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.invalid {
  -webkit-animation: color-change-2x 0.4s linear alternate both;
  animation: color-change-2x 0.4s linear alternate both;
}


.form button:hover:not([disabled]),
.form button:active:not([disabled]),
.form button:focus:not([disabled]) {
  background: #D15953aa;
}

.form button:disabled {
  background: #d1595359;
}

.plane {
  cursor: pointer;
  -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}


@-webkit-keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #ffff;
  }

  100% {
    background: #ea9292;
  }
}


@keyframes slide-out-elliptic-top-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
