/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', 'sans-serif' !important;
    background: #ececec !important;
}

html{
    min-width: min-content;
}

.pointer{
    cursor: pointer;
}