$bg-prim: #104B72;
$accent: #5E8BAB;


.main-section {
  height: 100vh;
  background: $bg-prim;
  background-image: url("/assets/img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 25px;
}

div.cardp {
  box-shadow: 0px 6px 38px -10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;

  div.about-me-title h1 {
    color: rgba(0, 0, 0, 0.75);
  }
}

.separator {
  margin-bottom: 100px;
  height: 10vh;
}



.about-me {

  .div-contImg:hover>.div-change-img {
    opacity: 1;
    visibility: visible;
  }

  .div-contImg:hover .div-change-img {
    transform: scale(1);
  }

  .div-change-img {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 80px;
    width: 80px;
    margin-top: -80px;
    opacity: 1;
    z-index: 99;
    background: #1E4B61aa;
    transform: scale(0);
    transition: .3s ease;
  }

  .icon-text {
    color: white;
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }
}

.projects {

  div.port-title h1 {
    color: rgba(0, 0, 0, 0.75);
  }

  .div-contImg-project:hover>.div-change-img-projects {
    opacity: 1;
    visibility: visible;
  }

  .div-contImg-project:hover .div-change-img-projects {
    transform: scale(1);
  }

  .div-change-img-projects {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: -200px;
    opacity: 1;
    z-index: 99;
    background: #ffffff;
    transform: scale(0);
    transition: .3s ease;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .icon-text-project {
    color: $accent;
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }
}

.education {
  div.education-title h1 {
    color: rgba(0, 0, 0, 0.75);
  }

  ul {
    list-style-type: none;
  }

  li {
    padding: 5px;
  }

  ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }

  li:hover {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
    animation: pulsate-fwd 0.5s ease-in-out both;
    border-radius: 5px;
    cursor: pointer;
  }

  @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.contact {
  background: $accent;
  border-radius: 5px;

  span {
    color: #ececec;
  }

  div.contact-title h1 {
    color: #ececec;
  }

  hr.my-0 {
    border: 2px solid #D15953;
  }
}

.testimonials {}

footer {
  background: $bg-prim;

  span {
    font-size: 70%;
  }
}

hr {
  border: 2px solid $accent;
  border-radius: 50px;
  width: 50%;
}

.text-accent {
  color: $accent;
  font-weight: bolder;
}

#clouds {
  fill: $bg-prim;
}
