<section class="main-section" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="0 1 auto">
        <h1 class="text-white display-3 text-center">Omar Perozo</h1>
        <footer class="blockquote-footer text-white text-center font-weight-bold">Full Stack Developer</footer>
    </div>
</section>
<div class="arrow-down" [style.marginBottom.px]="100"></div>
<div fxLayout="row" fxLayoutAlign="start center">
    <div class="cardp mx-auto h-100 bg-white p-5" fxFlex="0 1 1200px">
        <section class="about-me w-100" fxLayout="column" fxLayoutAlign="start start">
            <div class="about-me-title" fxFlex="0 1 100" [style.height.px]="80">
                <h1 class="display-4 my-1">About Me</h1>
                <hr class="my-0">
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <div fxFlex="0 1 50">
                    <p class="lead text-justify mt-3">
                        As confirmed by my portfolio content and code, I combine my knowledge, experience and skills
                        with
                        technology to develop professional and innovative web applications.
                        <br>
                        <br>
                        I follow <b class="text-accent">REST</b> and SOLID software engineering principles. I am also a
                        fan of Agile
                        methodologies.
                        <br>
                        <br>
                        By following the best practices above, I produce “clean code” which is comprehensive, easy to
                        debug
                        and maintain.
                        <br>
                        <br>
                        I have been passionate with development since childhood and enjoy learning about the latest
                        technological advancements.
                        <br>
                        <br>
                        I have worked with the following technologies:
                    </p>
                    <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start start" fxLayoutGap="25px">
                        <div class="div-contImg" fxFlex="0 1 80px" *ngFor="let item of icons">
                            <img src="assets/img/icons/{{item.name}}.png" class="h-auto w-100 p-2">
                            <div class="div-change-img">
                                <span class="icon-text">{{item.placeholder}}</span>
                            </div>
                        </div>
                        <span fxFlex="0 1 auto" fxFlexAlign="center" class="font-weight-bold"> and
                            counting!</span>
                    </div>
                </div>
                <div fxFlex="0 1 50" fxFlexAlign="center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <img src="assets/img/rocket.png" class="h-50 w-50">
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <section class="projects" fxLayout="column" fxLayoutAlign="start start">
            <div class="port-title" fxFlex="0 1 100" [style.height.px]="80">
                <h1 class="display-4 mb-1">Projects</h1>
                <hr class="my-0">
            </div>
            <div fxFlex="0 1 100" fxFlexAlign="end" class="w-100">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="0 1 50" fxFlexOrder="2">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <p class="lead mt-3" fxFlex="0 1 auto">Here are some projects that I have
                                worked
                                on:</p>
                        </div>
                        <div fxLayout="row wrap" class="w-100 mb-4" fxLayoutAlign="end end" fxLayoutGap="25px">
                            <div class="div-contImg-project project mt-2 pointer" fxFlex="0 1 200px" *ngFor="let item of projects">
                                <img src="assets/img/projects/{{item.name}}.png" class="h-auto w-100 p-2">
                                <div class="div-change-img-projects">
                                    <a [href]="item.src" class="icon-text-project" target="_blank">{{item.placeholder}}
                                        <i class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="0 1 50" fxFlexAlign="center" fxFlexOrder="1">
                        <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                            <img src="assets/img/coding.png" class="h-50 w-50">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <section class="education w-100" fxLayout="column" fxLayoutAlign="start start">
            <div class="education-title" fxFlex="0 1 100" [style.height.px]="80">
                <h1 class="display-4 my-1">Education</h1>
                <hr class="my-0">
            </div>
            <div fxFlex="0 1 100" class="mt-5">
                <ul>
                    <li *ngFor="let item of education" class="lead">
                        <span class="text-accent font-weight-bold">{{item.name}}</span>
                        <p class="mb-0">{{item.description}}</p>
                        <small>{{item.date}}</small>
                    </li>
                </ul>
            </div>
        </section>
        <section class="contact w-100" fxLayout="column" fxLayoutAlign="start start">
            <div class="contact-title" fxFlex="0 1 100" [style.height.px]="80">
                <h1 class="display-4 my-1">Get in Touch</h1>
                <hr class="my-0">
            </div>
            <div fxFlex="0 1 100" class="mt-5">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="0 1 50">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="lead" fxFlex="0 1 auto">Feel free to Contact me by filling out this simple
                                form:</span>
                            <div class="form-group w-100" fxFlex="0 1 100">

                                <input type="email" class="form-control mb-3" id="email" aria-describedby="emailHelp"
                                    placeholder="Email">

                                <input type="text" class="form-control mb-3" id="name" aria-describedby="emailHelp"
                                    placeholder="Name">

                                <textarea placeholder="Message" class="form-control mb-3" name="message" id="message" cols="10" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="0 1 50" fxFlexAlign="center">
                        <div fxLayout="column" fxLayoutAlign="center center" class="w-100">
                            <img src="assets/img/coding.png" class="h-50 w-50">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<svg id="clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#40639B" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none">
    <path d="M-5 100 Q 0 20 5 100 Z
             M0 100 Q 5 0 10 100
             M5 100 Q 10 30 15 100
             M10 100 Q 15 10 20 100
             M15 100 Q 20 30 25 100
             M20 100 Q 25 -10 30 100
             M25 100 Q 30 10 35 100
             M30 100 Q 35 30 40 100
             M35 100 Q 40 10 45 100
             M40 100 Q 45 50 50 100
             M45 100 Q 50 20 55 100
             M50 100 Q 55 40 60 100
             M55 100 Q 60 60 65 100
             M60 100 Q 65 50 70 100
             M65 100 Q 70 20 75 100
             M70 100 Q 75 45 80 100
             M75 100 Q 80 30 85 100
             M80 100 Q 85 20 90 100
             M85 100 Q 90 50 95 100
             M90 100 Q 95 25 100 100
             M95 100 Q 100 15 105 100 Z">
    </path>
</svg>
<footer fxLayout="row" fxLayoutAlign="start start" class="bg-prim" [style.height.px]="80">
</footer>