<section class="main-section" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="0 1 auto">
        <h1 class="text-white display-3 text-center">Omar Perozo</h1>
        <footer class="blockquote-footer text-white text-center font-weight-bold">Full Stack Developer</footer>
    </div>
</section>
<div class="arrow-down"></div>
<section class="about-me" fxLayout="row" fxLayoutAlign="start start">
    <div class="card-ab mx-auto h-100 bg-white" fxFlex="0 1 1600px">
        <div fxLayout="row" fxLayoutAlign="start start">
            <div class="about-me-title" fxFlex="0 1 auto" [style.height.px]="80">
                <h1 class="ml-4 display-4">About Me</h1>
                <hr class="ml-4 my-0">
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="0 1 50">
                <p class="lead text-justify px-4 mt-3">
                    As confirmed by my portfolio content and code, I combine my knowledge, experience and skills with
                    technology to develop professional and innovative web applications.
                    <br>
                    <br>
                    I follow REST and SOLID software engineering principles. I am also a fan of Agile methodologies.
                    <br>
                    <br>
                    By following the best practices above, I produce “clean code” which is comprehensive, easy to debug
                    and maintain.
                    <br>
                    <br>
                    I have been passionate with development since childhood and enjoy learning about the latest
                    technological advancements.
                    <br>
                    <br>
                    I have worked with the following technologies:
                </p>
                <div fxLayout="row wrap" class="w-100 px-4" fxLayoutAlign="start start" fxLayoutGap="25px">
                    <div class="div-contImg" fxFlex="0 1 80px" *ngFor="let item of icons">
                        <img src="assets/img/icons/{{item.name}}.png" class="h-auto w-100 p-2">
                        <div class="div-change-img">
                            <span class="icon-text">{{item.placeholder}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="0 1 50" fxFlexAlign="center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <img src="assets/img/rocket.png" class="h-50 w-50">
                </div>
            </div>
        </div>

    </div>
</section>